---
import { Image, Source } from "@unpic/astro";
import { getCollection } from "astro:content";

import LogoCloud from "#/components/assets/logo-cloud.astro";
import BlogEntries2 from "#/components/blog/blog-entries-2.astro";
import Wrapper from "#/components/fundations/containers/wrapper.astro";
import Link from "#/components/fundations/elements/link.astro";
import Text from "#/components/fundations/elements/text.astro";
import ProjectEntries2 from "#/components/projects/project-entries-2.astro";
import StackEntries1 from "#/components/stack/stack-entries-1.astro";
import Avatar from "#/images/assets/avatar.jpg";
import BaseLayout from "#/layouts/base-layout.astro";

const allPosts = await getCollection("posts");
const allProjects = await getCollection("projects");

allPosts.sort((a, b) => {
  const dateA = a.data.pubDate.getTime();
  const dateB = b.data.pubDate.getTime();
  return dateB - dateA;
});
allProjects.sort((a, b) => {
  const dateA = a.data.pubDate.getTime();
  const dateB = b.data.pubDate.getTime();
  return dateB - dateA;
});
---

<BaseLayout>
  <section class="relative overflow-hidden">
    <Wrapper class="relative py-24" variant="standard">
      <div class="text-center">
        <div class="mt-8 text-balance text-base-900 dark:text-white">
          <Text class="flex items-baseline justify-center gap-3 font-medium" tag="h1" variant="displayXL">
            Hi, I'm Daniel
            <picture class="size-12 md:size-16">
              <Source height={128} media="(min-width: 768px)" priority src={Avatar} width={128} />
              <Source height={96} media="(max-width: 768px)" priority src={Avatar} width={96} />
              <Image
                alt="Daniel Esteves"
                class="rounded-xl duration-300 ease-in-out hover:scale-150 hover:rotate-6"
                height={64}
                priority
                src={Avatar}
                unstyled
                width={64}
              />
            </picture>
            ,
          </Text>
          <Text class="font-display tracking-wide text-base-600 italic dark:text-base-400" tag="p" variant="displayXL">
            software engineer.
          </Text>
        </div>
        <Text class="mt-4 text-balance text-base-600 dark:text-base-400" tag="p" variant="textLG">
          From frontend beginnings to full-stack solutions, one line of code at a time
        </Text>
        <LogoCloud />
      </div>
    </Wrapper>
  </section>
  <section>
    <Wrapper class="py-12" variant="standard">
      <div class="flex items-end justify-between">
        <Text class="font-display tracking-wide text-base-900 italic dark:text-white" tag="h3" variant="displaySM">
          Projects
        </Text>
        <Link href="/projects" size="xs" variant="muted">See them all </Link>
      </div>
      <div class="mt-6 grid gap-2 md:grid-cols-2" role="list">
        {
          allProjects
            .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
            .slice(0, 2)
            .map((post) => <ProjectEntries2 post={post} prefetch />)
        }
      </div>
    </Wrapper>
  </section>
  <section>
    <Wrapper class="py-12" variant="standard">
      <div class="flex items-end justify-between">
        <Text class="font-display tracking-wide text-base-900 italic dark:text-white" tag="h3" variant="displaySM">
          Blog
        </Text>
        <Link href="/blog" size="xs" variant="muted">Read all my blog posts </Link>
      </div>
      <div class="mt-6 gap-2" role="list">
        {
          allPosts
            .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
            .slice(0, 1)
            .map((post) => <BlogEntries2 post={post} />)
        }
      </div>
    </Wrapper>
  </section>
  <section>
    <Wrapper class="py-12" variant="standard">
      <div class="flex items-end justify-between">
        <Text class="font-display tracking-wide text-base-900 italic dark:text-white" tag="h3" variant="displaySM">
          Stack
        </Text>
        <Link href="/stack" size="xs" variant="muted">Check out my whole stack </Link>
      </div>
      <StackEntries1 />
    </Wrapper>
  </section>
</BaseLayout>
