---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import ScrollUpButton from "#/components/assets/scroll-up-button.astro";
import BlogEntries2 from "#/components/blog/blog-entries-2.astro";
import SubscribeCta from "#/components/blog/subscribe-cta.astro";
import Wrapper from "#/components/fundations/containers/wrapper.astro";
import Link from "#/components/fundations/elements/link.astro";
import Text from "#/components/fundations/elements/text.astro";
import BaseLayout from "#/layouts/base-layout.astro";

const allPosts = await getCollection("posts");

const { frontmatter, seo } = Astro.props;
---

<BaseLayout seo={seo}>
  <ScrollUpButton />

  <section>
    <Wrapper class="py-24">
      <div class="text-center">
        <Text
          tag="h1"
          variant="displayXL"
          class="mt-8 font-display tracking-wide text-balance text-base-900 italic dark:text-white"
        >
          {frontmatter.title}
        </Text>
        <Text class="mt-2 text-xs text-base-900 dark:text-white">
          Published: <time
            datetime={new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
              year: "numeric",
              month: "long",
              day: "2-digit",
            })}
          >
            {
              new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
                year: "numeric",
                month: "long",
                day: "2-digit",
              })
            }</time
          >
        </Text>
        <Text tag="p" variant="textLG" class="mt-4 text-balance text-base-600 dark:text-base-400">
          {frontmatter.description}
        </Text>
      </div>
      <div class="space-y-12">
        <Image
          src={frontmatter.image.url}
          alt={frontmatter.image.alt}
          width={800}
          height={400}
          class="mt-6 max-h-72 w-full rounded-2xl object-cover object-center shadow ring-1 ring-base-200 dark:ring-base-800"
        />
        <Wrapper variant="prose">
          <slot />
        </Wrapper>
        <div class="mt-4 flex flex-wrap items-center gap-2 border-t border-base-200 pt-4 dark:border-base-900">
          {
            frontmatter.tags.map((tag, index) => (
              <>
                {index > 0 && <span class="text-white">·</span>}
                <Text
                  tag="a"
                  variant="textSM"
                  underlined={true}
                  href={`/blog/tags/${tag}`}
                  class="text-white capitalize"
                >
                  {tag}
                </Text>
              </>
            ))
          }
        </div>
      </div>
    </Wrapper>
  </section>
  <SubscribeCta />
  <section>
    <Wrapper variant="standard" class="py-24">
      <div class="text-center">
        <div class="flex items-end justify-between">
          <Text tag="h3" variant="displaySM" class="font-display tracking-wide text-base-900 italic dark:text-white">
            Latest articles
          </Text>
          <Link size="xs" variant="muted" href="/blog/home">Read all my blog posts </Link>
        </div>
      </div>
      <div class="mt-12 grid gap-2 sm:grid-cols-2">
        {allPosts.slice(0, 2).map((post) => <BlogEntries2 post={post} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
