---
import { Image } from "astro:assets";

import ScrollUpButton from "#/components/assets/scroll-up-button.astro";
import Wrapper from "#/components/fundations/containers/wrapper.astro";
import Link from "#/components/fundations/elements/link.astro";
import Text from "#/components/fundations/elements/text.astro";
import BaseLayout from "#/layouts/base-layout.astro";

const { frontmatter, seo } = Astro.props;
---

<BaseLayout seo={seo}>
  <ScrollUpButton />
  <section>
    <Wrapper class="py-24">
      <div class="text-center">
        <Image
          src={frontmatter.logo.url}
          alt={frontmatter.logo.alt}
          width={200}
          height={200}
          class="mx-auto size-12 rounded-xl shadow ring-base-200 md:size-16 dark:ring-base-800"
        />
        <Text
          tag="h1"
          variant="displayXL"
          class="mt-8 font-display tracking-wide text-balance text-base-900 italic dark:text-white"
        >
          {frontmatter.title}
        </Text>
        <Text tag="p" variant="textLG" class="mt-4 text-balance text-base-600 dark:text-base-400">
          {frontmatter.subtitle}
        </Text>
      </div>
      <div class="space-y-6">
        <Image
          src={frontmatter.image.url}
          alt={frontmatter.image.alt}
          width={800}
          height={400}
          class="mt-6 max-h-72 w-full rounded-2xl object-cover object-center shadow ring-1 ring-base-800"
        />
        <div class="flex items-center justify-between">
          <Text tag="p" variant="textSM" class="ml-2 text-base-600 dark:text-base-400">
            Published: <time
              datetime={new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
                year: "numeric",
                month: "long",
                day: "2-digit",
              })}
            >
              {
                new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "long",
                  day: "2-digit",
                })
              }</time
            >
          </Text>
          <Link size="base" variant="muted" href={frontmatter.live} title={frontmatter.title}>See it live </Link>
        </div>
        <Wrapper variant="prose">
          <slot />
        </Wrapper>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
