---
import { Image, Source } from "@unpic/astro";

import ScrollUpButton from "#/components/assets/scroll-up-button.astro";
import Wrapper from "#/components/fundations/containers/wrapper.astro";
import Link from "#/components/fundations/elements/link.astro";
import Text from "#/components/fundations/elements/text.astro";
import BaseLayout from "#/layouts/base-layout.astro";

const { frontmatter, seo } = Astro.props;
---

<BaseLayout seo={seo}>
  <ScrollUpButton />
  <section>
    <Wrapper class="py-24">
      <div class="text-center">
        <picture class="size-12 md:size-16">
          <Source height={128} media="(min-width: 768px)" priority src={frontmatter.logo.url} width={128} />
          <Source height={96} media="(max-width: 768px)" priority src={frontmatter.logo.url} width={96} />
          <Image
            alt={frontmatter.logo.alt}
            alt={frontmatter.logo.alt}
            class="mx-auto !size-12 rounded-xl shadow ring-base-200 md:!size-16 dark:ring-base-800"
            height={64}
            priority
            src={frontmatter.logo.url}
            transition:name={`project-image-${Astro.params.slug}`}
            unstyled
            width={64}
          />
        </picture>
        <Text
          class="mt-8 font-display tracking-wide text-balance text-base-900 italic dark:text-white"
          tag="h1"
          variant="displayXL"
        >
          {frontmatter.title}
        </Text>
        <Text class="mt-4 text-balance text-base-600 dark:text-base-400" tag="p" variant="textLG">
          {frontmatter.subtitle}
        </Text>
      </div>
      <div class="space-y-6">
        <Image
          alt={frontmatter.image.alt}
          class="mt-6 max-h-72 w-full rounded-2xl object-cover object-center shadow ring-1 ring-base-800"
          height={400}
          src={frontmatter.image.url}
          width={800}
        />
        <div class="flex items-center justify-between">
          <Text class="ml-2 text-base-600 dark:text-base-400" tag="p" variant="textSM">
            Published: <time
              datetime={new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
                year: "numeric",
                month: "long",
                day: "2-digit",
              })}
            >
              {
                new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "long",
                  day: "2-digit",
                })
              }</time
            >
          </Text>
          <Link href={frontmatter.live} size="base" title={frontmatter.title} variant="muted">See it live </Link>
        </div>
        <Wrapper variant="prose">
          <slot />
        </Wrapper>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
