---
import { Image } from "astro:assets";

import Wrapper from "#/components/fundations/containers/wrapper.astro";
import Link from "#/components/fundations/elements/link.astro";
import Text from "#/components/fundations/elements/text.astro";
import BaseLayout from "#/layouts/base-layout.astro";

const { frontmatter, seo } = Astro.props;
---

<BaseLayout seo={seo}>
  <section>
    <Wrapper class="py-24">
      <div class="text-center">
        <Text class="text-balance text-base-900 dark:text-white" tag="h1" variant="displayXL">
          {frontmatter.title}
        </Text>

        <Text class="mt-8 text-balance text-base-600 dark:text-base-400" tag="p" variant="textLG">
          {frontmatter.description}
        </Text>
      </div>

      <div class="mt-6 flex items-center justify-center gap-4">
        <Link
          aria-label={frontmatter.preview}
          href={frontmatter.preview}
          size="sm"
          title={frontmatter.preview}
          variant="muted"
        >
          Preview demo
        </Link>
        <Link aria-label="your label" href="#_" size="sm" title="your title" variant="default">
          Buy {frontmatter.title} for ${frontmatter.price}
        </Link>
      </div>

      <div class="mt-12 space-y-12">
        <Image
          alt={frontmatter.image.alt}
          class="w-full rounded-2xl object-cover object-top shadow ring-1 ring-base-200 dark:ring-base-800"
          height={600}
          src={frontmatter.image.url}
          width={600}
        />

        <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
          <Text class="font-display tracking-wide text-base-900 italic dark:text-white" tag="h3" variant="displaySM">
            Includes
          </Text>
          <ul role="list">
            <!-- Dynamically render highlights -->
            {
              frontmatter.highlights.map((highlight) => (
                <li>
                  <Text class="text-base-600 dark:text-base-400" tag="p" variant="textSM">
                    {highlight}
                  </Text>
                </li>
              ))
            }
          </ul>
        </div>
        <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
          <Text class="font-display tracking-wide text-base-900 italic dark:text-white" tag="h3" variant="displaySM">
            License
          </Text>
          <Text class="text-base-600 dark:text-base-400" tag="p" variant="textSM">
            {frontmatter.license}
          </Text>
        </div>
        <div class="grid gap-2 sm:grid-cols-2">
          {
            frontmatter.images.map((image) => (
              <Image
                alt={image.alt}
                class="aspect-[384/246] w-full rounded-2xl object-cover object-top shadow ring-1 ring-base-200 dark:ring-base-800"
                height={400}
                src={image.url}
                width={400}
              />
            ))
          }
        </div>
        <dl class="mt-6 grid gap-2 sm:grid-cols-2">
          {
            frontmatter.features.map((feature) => (
              <div class="group relative flex transform flex-col overflow-hidden rounded-2xl bg-linear-45 from-base-50 to-base-100 p-6 shadow ring-1 ring-base-200 transition-all duration-300 ring-inset hover:shadow-light dark:from-base-800 dark:to-base-950 dark:ring-base-800 dark:hover:shadow-dark">
                <dt>
                  <Text class="text-base-900 dark:text-white" tag="h3" variant="textLG">
                    {feature.title}
                  </Text>
                </dt>
                <dd class="mt-24">
                  <Text class="text-base-600 dark:text-base-400" tag="p" variant="textLG">
                    {feature.description}
                  </Text>
                </dd>
              </div>
            ))
          }
        </dl>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
